.header__lang-link {
  color: #FFFFFF;
  margin-top: 18px;
}

.header__lang-link:first-of-type {
  margin-right: 18px;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    margin-top: 14px;
  }
}
