doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= "Путешествия по России"
    link(rel="stylesheet", href="../../../vendor/normalize.css")
    link(rel="stylesheet", href="./index.css")
  body
    .page
      header.header
        include ../../images/logo/logo.svg
        .header__lang-links
          a(href="#", class="header__lang-link header__lang-link_status_enabled")= "Ru"
          a(href="#", class="header__lang-link header__lang-link_status_disabled")= "En"
      section.lead
        h1.lead__title Путешествия<br/>по России
        p.lead__subtitle Настоящая страна не в выпусках<br/>новостей, а здесь.
        div.lead__image
        p.lead__caption ваша полка — верхняя
      section.intro
        h2.intro__title Чего мы там не видели?
        p.intro__text По опросам ВЦИОМ, 95% россиян мечтают куда-нибудь поехать, но только 36% планируют провести отпуск в родной стране. Мол, чего мы тут, дома, не видели? На самом деле, Россия — это целая вселенная с ласковым морем юга, густыми лесами Саян и суровыми льдами плато Путорана. А ещё увидеть все эти красоты можно без миллионов на счету, загранпаспорта и многочасовых перелетов. Как, например, Вера Башмакова — смелая молодая мама, которая взяла в охапку троих детей, усадила их в свою «Ладу» и проехала 20 тысяч километров по родной стране. Мы выбрали и описали некоторые интересные места, достойные вашего отпуска.
        ul.intro__list
          each val in ["Часовых поясов 11", "Объектов природного наследия ЮНЕСКО 12", "Объектов культурного наследия ЮНЕСКО 16", "Природных заповедников 105", "Аэропортов 241"]
            li= val
      section.photo-grid
      section.places
      section.cover
        .cover__background
          .cover__overlay
          h2.cover__title До Байкала<br/>«на собаках»
          p.cover__subtitle По мотивам учебной темы о Транссибе — путешествие от столицы до Байкала на электричках.
      footer.footer
