.place__image {
  grid-row: 2/4;
  padding-top: calc(48px - 26px);
  max-width: 460px;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .place__image {
    padding-top: calc(48px - 27px);
    width: calc(440/1024*100vw);
  }
}

@media screen and (max-width: 1023px) {
  .place__image {
    padding-top: calc(48px - 25px);
    width: calc(340/768*100vw);
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    padding-top: calc(32px - 25px);
    width: 100%;
    grid-row: 3/4;
  }
}
