.lead {
  padding: 56px 148px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  &__title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    max-width: 720px;
    max-height: 200px;
    margin: 0 auto 32px;
  }
  &__subtitle {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    max-width: 640px;
    max-height: 72px;
    margin: 0 auto 64px;
  }
  &__image {
    background-image: url('../../../images/lead/pic.jpg');
    background-size: cover;
    width: calc(100vw - 2*148px);
    height: calc(62.5vw - 2*148px);
  }
  &__caption {
    color: #FFFFFF;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 8px auto 0 0;
  }
}

@media screen and (max-width: 1279px) {
  .lead {
    padding: 48px 48px 0;
    &__subtitle {
      margin-bottom: 56px;
    }
    &__image {
      width: calc(100vw - 2*48px);
      height: calc(62.5vw - 2*48px);
    }
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    padding: 48px 0 0;
    &__image {
      width: 100vw;
      height: 62.5vw;
    }
    &__caption {
      margin-left: 24px;
    }
  }
}

@media screen and (max-width: 767px) {
  .lead {
    &__title {
      margin-bottom: 16px;
      font-size: 40px;
      line-height: 44px;
    }
    &__subtitle {
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 20px;
    }
    &__caption {
      margin-left: 16px;
    }
  }
}
