.header {
  display: flex;
  padding: 28px calc((100vw - 1280px + 48px*2)/2) 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 28px 48px 0;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 16px 0;
    font-size: 18px;
    line-height: 20px;
  }
}
