.header {
  display: flex;
  padding: 28px 48px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  &__logo {
    align-self: center;
    width: 176px;
    height: 52px;
    margin: 0 auto 0 0;
  }
  &__lang-link {
    color: #FFFFFF;
    margin-top: 18px;
    &:first-of-type {
      margin-right: 18px;
    }
    &_status_disabled {
      text-decoration: none;
    }
    &_status_enabled {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 24px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 16px 0;
    font-size: 18px;
    line-height: 20px;
    &__logo {
      width: 142px;
      height: 42px;
    }
    &__lang-link {
      margin-top: 14px;
    }
  }
}
