.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 48px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  &__logo {
    align-self: center;
    width: 176px;
    height: 52px;
  }
  &__lang-links {
    display: flex;
    align-self: flex-end;
  }
  &__lang-link {
    color: #FFFFFF;
    &:first-child {
      margin-right: 18px;
    }
    &_status_disabled {
      text-decoration: none;
    }
    &_status_enabled {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 28px 24px 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 16px 16px 0;
    font-size: 18px;
    line-height: 20px;
    &__logo {
      width: 142px;
      height: 42px;
    }
  }
}
