.cover__background {
  background-image: url(../../../images/cover/pic.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  width: calc(100vw - 2*48px);
  min-height: 62.5vw;
  position: relative;
  z-index: 1;
}

.cover__background:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: 2;
}

@media screen and (max-width: 1279px) {
  .cover__background {
    width: 100%;
  }
}
